<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Seed Project</title>
    <link  rel='stylesheet' href='style.css' />
    <script src="bundle.js"></script>
</head>

<body>
		<h1><%= title %></h4>

    <% for (var i=0; i < images.length; i++) { %>
      <img src="<%= images[i].node.thumbnail_src %>" />
    <% } %>

		<%- include('partials/footer') %>
</body>

</html>
