body{
	margin:0;padding:0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
$animation-delay: 2s;

h1 {
	color: red;
}

img {
	width: 100px;
	height: 100px;
	background: hsla(180, 80%, 80%, 1);
}

.svg-mask {
	width: 0px;
	height: 0px;
	opacity: 0;

}

.masked-element image {
	transition: 2s;
	mask: url(#mask1);
}

.masked-element:hover image {
	mask: url(#mask2);
}
.masked-element {
	height: 200px;
	width: 200px;
}

svg:hover .move{
	transform: rotate(-10deg) scale(2);
}

.ra {
	svg{
		background:url('/imgs/ra-courtyard-progressive.jpg');
		position: absolute;
		 position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms;
		background-size:cover;
		width:100vw; 
		height:auto;
		display:block;
		animation-name: absolute-height;
		animation-duration: 1s;
		animation-delay: 3.5s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}

	svg text {
		font-size: 500px;
		font-weight:900;
		font-family: Verdana;
		transform: translateY(225px);
		animation-timing-function: ease-in-out;
		animation-name: text-size;
		animation-duration: 1s;
		animation-delay: $animation-delay;
		animation-fill-mode: forwards;
	}

	.svg-rect {
		fill-opacity: 0;
		opacity: 0;
		animation-name: background-fade;
		animation-duration: 1s;
		animation-delay: $animation-delay;
		animation-fill-mode: forwards;
	}

	@keyframes text-size{
		from {
			font-size: 500px;
			transform: translateY(225px);
		}
		to {
			font-size: 9px;
			transform: translateY(0px);
		}
	}	 

	@keyframes background-fade {
		from {
			fill-opacity: 0;
			opacity: 0;
		}
		to {
			fill-opacity: 1;
			opacity: 1;
		}
	}
	@keyframes absolute-height {
		from {
			top: 50%;
			transform: translateY(-50%);
		}
		to {
			top: 0%;
			transform: translateY(0%);
		}
	}
}




