body{
	margin:0;padding:0;
	margin-top: 100px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

$animation-delay: 2s;
.gallery-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;	
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 2s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

img {
	width: 100px;
	height: 100px;
	background: hsla(180, 80%, 80%, 1);
}

.svg-mask {
	width: 0px;
	height: 0px;
	opacity: 0;
}

.masked-element image {
	transition: 2s;
//	mask: url(#mask2);
}

.masked-element {
	height: 200px;
	width: 200px;
}
.masked-element rect {	
  transform: scale(0.5) translateX(50%) translateY(50%);
  transition: 1s;
}
.masked-element:hover rect {	
  transform: translateX(0px);
}
 
p {
	text-align: center;
	position: absolute;
	z-index: -1;
	top: 55px;
	font-family: arial;
	color: hsla(0, 10%, 80%, 1);
	a {
		color: hsla(270, 30%, 60%, 1);
	}
	opacity: 0;
		animation-name: fade-in;
		animation-duration: 2s;
		animation-delay: 4s;
		animation-fill-mode: forwards;
}

.ra {
	.header-svg {
		background:url('/imgs/ra-courtyard-progressive.jpg');
		position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms;
		background-size:cover;
		width:100vw; 
		max-width: 600px;
		height:auto;
		display:block;
		animation-name: absolute-height;
		animation-duration: 1s;
		animation-delay: 3.5s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
    z-index: -1;
	}

	.header-svg text {
		font-size: 500px;
		font-weight:900;
		font-family: Arial Black;
		transform: translateY(225px);
		animation-timing-function: ease-in-out;
		animation-name: text-size;
		animation-duration: 1s;
		animation-delay: $animation-delay;
		animation-fill-mode: forwards;
	}

	.svg-rect {
		fill-opacity: 0;
		opacity: 0;
		animation-name: background-fade;
		animation-duration: 1s;
		animation-delay: $animation-delay;
		animation-fill-mode: forwards;
	}

	@keyframes text-size{
		from {
			font-size: 500px;
			transform: translateY(225px);
		}
		to {
			font-size: 9px;
			transform: translateY(0px);
		}
	}	 

	@keyframes background-fade {
		from {
			fill-opacity: 0;
			opacity: 0;
		}
		to {
			fill-opacity: 1;
			opacity: 1;
		}
	}
	@keyframes absolute-height {
		from {
			top: 50%;
			transform: translateY(-50%);
		}
		to {
			top: 0%;
			transform: translateY(0%);
		}
	}
}

 @keyframes fade-in {
		from {
			opacity: 0;
	}
to { opacity: 1}
}

@media screen and  (max-width: 550px) {
 body {
	margin-top: 120px;
 }

	.gallery-container {
		flex-wrap: no-wrap;
		flex-direction: column;
	}
.masked-element rect {	
  transform: translateX(0px);
}
 
}
